@import '../variables';
.our{
  background-image: url('/assets/our.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  padding-bottom: 250px;
  &__container{
    margin: 0 auto;
    max-width: 100%;
    width: 1380px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @include media(1400){
      width: 1200px;
      padding: 0 15px;
      justify-content: space-between;
    }
    @include media(992){
      display: block;
    }
  }
  @include media(1400){
    background-attachment: initial;
    background-size: cover;
  }
  @include media(992){
    padding: 25px 0;
  }
}
.our-item{
  width: 440px;
  max-width: 100%;
  padding: 0 50px;
  color: #fff;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 110px;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("/assets/o-bottom.png");
  }
  &:not(:last-of-type){
    margin-right: 30px;
  }
  &__text{
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 2.3em;
    &__last-of-type{
      margin-bottom: 0;
    }
  }
  &__title{
    font-family: $font-bold;
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 1em;
    line-height: 1.33em;
    @include media(992){
      br{
        display: none;
      }
    }
  }
  &__icon{
    background-image: url("/assets/diamond.svg");
    height: 170px;
    width: 170px;
    margin: 50px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include media(1400){
      margin: 25px auto;
    }
    @include media(992){
      height: 100px;
      width: 100px;
      margin: {
        top: 0;
        bottom: 15px;
      };
    }
    &_ok{
      background-image: url("/assets/ok.svg");
    }
    &_mission{
      background-image: url("/assets/mission.svg");
    }
  }
  &_orange{
    background-color: $orange;
  }
  &_blue{
    background-color: $blue-stripe;
    &::after{
      background-image: url("/assets/b-bottom.png");
    }
  }
  &_green{
    background-color: $green;
    &::after{
      background-image: url("/assets/g-bottom.png");
    }
  }
  @include media(1400){
    width: 30%;
    &__title{
      margin: 0;
    }
    &__text{
      margin: {
        top: 1em;
        bottom: 0;
      };
      text-align: left;
    }
  }
  @include media(992){
    &_green{
      background-color: darken($green,20%);
    }
    padding: 20px 15px;
    width: 70%;
    margin: 0 auto 25px !important;
    &::after{
      display: none;
    }
    &:last-of-type{
      margin-bottom: 0 !important;
    }
    &__text{
      text-align: center;
    }
  }
  @include media(768){
    width: 90%;
  }
}
