@import '../variables';
.section{
  padding: 65px 0;
  &__title{
    text-align: center;
    font-size: 1.875rem;
    text-transform: uppercase;
    // margin-top: 2.2em;
    line-height: 1.2em;
    font-family: $font-bold;
    &_border{
      position: relative;
      padding-bottom: 1.2222222222222223em;
      &::after{
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        height: 5px;
        width: 300px;
        background-color: $blue;
      }
    }
  }
  &__sub-title{
    text-align: center;
  }
  &__text{
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 2.25em;
    &:last-of-type{
      margin-bottom: 0;
    }
  }
  &_form{
    background-image: url('/assets/paper-dot.jpg');
    background-repeat: repeat-y;
    background-attachment: fixed;
  }
  &_foot{
    color: #fff;
    text-align: center;
    background-image: url('/assets/foot-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    .email-link{
      font-size: 1.875rem;
      color: #fff;
      text-transform: uppercase;
      font-family: $font-bold;
      text-decoration: none;
      display: inline-block;
      margin: 1em auto;
      @include media(400){
        font-size: 1.2rem;
      }
    }
    .footer-text{
      margin: 0 auto;
    }
    .social-link{
      display: inline-block;
      height: 45px;
      width: 45px;
      border-radius: 50%;
      line-height: 50px;
      color: #3d3f43;
      background-color: #fff;
      font-size: 32px;
      transition: all .3s;
      &:not(:last-of-type){
        margin-right: 15px;
      }
      &:hover{
        background-color: darken(#fff,50%);
      }
    }
  }
  @include media(992){
    padding: 25px 0;
  }
}
