@import '/assets/common-styles/fonts/stylesheet.css';
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
$black: #000;
$blue: #007a88;
$blue-stripe: #476e94;
$orange: #fc8c1c;
$green: #85bc00;
$font-bold: 'AG Foreigner Light', serif;
$font: 'AG Foreigner Light-Plain', serif;
@mixin media($res, $scale: 'max') {
  @media only screen and ($scale+'-width:'+$res+'px'){
    @content
  }
}
