<header class="header">
  <div class="header__logo site-logo">
    <img src="/assets/1-green.png" alt="" class="site-logo__img">
    <h1 class="site-logo__title">name one</h1>
    <p class="site-logo__text">Effective solutions today, <br/> more opportunities tomorrow</p>
  </div>
</header>
<main>
  <section class='section'>
    <h2 class="section__title section__title_border">OUR BENEFITS</h2>
    <div class="container">
      <div class="row">
        <p class="col-md-12 section__sub-title">Complex IT solutions bespoke to each customer's journey</p>
        <div class="col-md-3 benefit">
          <div class="benefit__icon">
            <img src="/assets/hand.png" alt="" class="benefit__img">
          </div>
          <h3 class="benefit__title">Professional attitude</h3>
          <div class="benefit__text">effective expert solution  in required timeline</div>
        </div>
        <div class="col-md-3 benefit">
          <div class="benefit__icon">
            <img src="/assets/lamp.png" alt="" class="benefit__img">
          </div>
          <h3 class="benefit__title">Creative thinking</h3>
          <div class="benefit__text"> no ordinary approach  to existing task</div>
        </div>
        <div class="col-md-3 benefit">
          <div class="benefit__icon">
            <img src="/assets/arch.png" alt="" class="benefit__img">
          </div>
          <h3 class="benefit__title">Greater flexibility</h3>
          <div class="benefit__text">we can listen to your  needs and hear them</div>
        </div>
        <div class="col-md-3 benefit">
          <div class="benefit__icon">
            <img src="/assets/money.png" alt="" class="benefit__img">
          </div>
          <h3 class="benefit__title">Cost efficiency</h3>
          <div class="benefit__text">this is business- yours and ours</div>
        </div>
        <p class="col-md-12 section__sub-title">If you are a business leader managing complex and multitasking challenge, NameOne delivers solutions and governance that help you to be great at what you do. Whether it is new software development or existing technologies improvement, we enable you to operate professionally for today and optimize for tomorrow.</p>
      </div>
    </div>
  </section>
  <section class='section developers'>
    <h2 class="section__title">A Creative Team of Web Strategists <br> and Developers</h2>
    <div class="container">
      <div class="row">
        <p class="section__text col-md-12">NameOne is not just a great place to work; it is a great company to do business with, and we do not see you as just a potential customer either, we see you as a potential partner.</p>
        <p class="section__text col-md-12">The reason NameOne was created was frustration a team of friends had got while dealing with obviously bad developed web-services again and again. <br> They already had extensive experience working with algorithms and many programming techniques and decided to create a company with flexible, friendly approach to business and professional product solutions for customers.</p>
        <p class="section__text col-md-12">You could say that we are one of those numerous web developing companies, but we are still human, and our job is something more for us that just a job: it is our life style, way of thinking, and it is the art that we really like to do. For our customers, this all translates to better software delivered faster. We prefer to build relationships with the people we work with – nothing beats a face-to-face conversation. That is the reason why our customers were never lost.</p>
      </div>
    </div>
  </section>
  <app-reviews></app-reviews>
  <section class='our'>
    <div class="our__container">
      <div class="our__item our-item our-item_orange">
        <div class="our-item__icon"></div>
        <h3 class="our-item__title">Our <br> Values</h3>
        <p class="our-item__text">We personalize our experience to each customer no matter how large his or her project is.</p>
        <p class="our-item__text">We value every partner we work with, and strive to be equally professional for everyone.</p>
        <p class="our-item__text">We verify each step of the way as “honesty” and “reliability” are keywords for what we do.</p>
      </div>
      <div class="our__item our-item our-item_blue">
        <div class="our-item__icon our-item__icon_ok"></div>
        <h3 class="our-item__title">Our <br> Approach</h3>
        <p class="our-item__text">Listening, flexibility and professional dialogue is what we believe in. There is nothing in the world impossible to agree upon.</p>
        <p class="our-item__text">Thinking like that allows us to find the best way to deliver effective expert solutions by reducing work time for reasonable price.</p>
      </div>
      <div class="our__item our-item our-item_green">
        <div class="our-item__icon our-item__icon_mission"></div>
        <h3 class="our-item__title">Our <br>Mission</h3>
        <p class="our-item__text">From the very start of our Company we pursue the mission of becoming a trustworthy global professional team in the provision of first-class software development solutions and optimization technologies.</p>
      </div>
    </div>
  </section>
  <app-form></app-form>
</main>
<footer class='section  section_foot'>
  <h2 class='section__title'>Contact Us</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <p class="col-md-12 footer-text">NameOne is here to help you and your business to grow, no matter where you are located. Contact us today to find out how we can work together: </p>
          <div class="col-md-12">
              <a href="mailto:sales@nameone.io" class='email-link'>sales@nameone.io</a>
          </div>
          <div class="col-md-12 social-links">
               <a href="https://www.facebook.com/nameone.llc/" class="social-link">
                 <i class="fa fa-facebook" aria-hidden="true"></i>
               </a>
               <a href="https://vk.com/nameone_llc" class="social-link">
                 <i class="fa fa-vk" aria-hidden="true"></i>
               </a>
               <a href="https://www.instagram.com/nameone_llc/" class="social-link">
                 <i class="fa fa-instagram" aria-hidden="true"></i>
               </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
