@import '../variables';
.review{
  margin-bottom: 100px;
  @include media(992){
    margin-bottom: 25px;
  }
  &:last-of-type{
    margin-bottom: 0;
  }
  &__name{
    margin-bottom: 1em;
    font-family: $font-bold;
  }
  &__img{
    width: 200px;
  }
  &__img-container{
    overflow: hidden;
    padding: 0;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
    @include media(992){
      margin: {
        right: auto;
        left: auto;
        float: none;
      };
    }
  }
  &__text-body{
    width: calc(100% - 200px);
    padding-left: 100px;
    background-color: #fff;
    @include media(992){
      width: 100%;
      text-align: center;
      padding: {
        right: 15px;
        left: 15px;
      }
    }
  }
}
