@import '../variables';

.benefit{
  margin-top: 75px;
  text-align: center;
  &:last-of-type{
    margin-bottom: 75px;
  }
  &__icon{
    text-align: center;
    margin-bottom: 65px;
  }
  &__img{
    max-width: 100%;
  }
  &__title{
    font-family: $font-bold;
    font-size: 1rem;
    margin: 0;
    margin-bottom: .25rem;
  }
  &__text{
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5em;
  }
}
